<a href="https://colab.research.google.com/github/ATechievision/DataHubArchana/blob/main/Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def addition(a,b): #for the sum of tow values
 return a+b

def subtraction(a,b): # for the difference of a & B
  return a-b

def multiplication (a,b): # for the product of a & b
  return a*b

def division (a,b): # for the division of a & b
  return a/b

In [1]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))


if a>b:
  print("A=",a,"is greater")
else:
  print("B=",b," is greater")

Enter the first number: 15
Enter the second number: 20
B= 20  is greater

Write a number to check whether the given number is an armstrong number or not.

Armstrong number is the number whose sum of cube of its digits is equal to the number.
153 1,5,3 are the digits
1^3=1
s^3=125
3^3=9
1+125+27=153

In [29]:
num = int(input("Enter a number: "))
sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3  3 cube of the number
   temp = temp //= 10

if sum == num:
   print(num,"is an Armstrong number")
else:
    print(num,"is not an armstrong number")

SyntaxError: invalid syntax (<ipython-input-29-6600399b1b93>, line 7)

In [8]:
#Write a program to check a number is a prime number or not.


# Prime number is  no. which is divisible by 1 and only itself.
#e.g.- 2,3,5,7, 11.13- all these numbers are divisible by 1 or itself .So,they are prime numbers.
# 4,6,8,9 -These are not prime numbers


num = int(input("Enter a number: ")) #11


if num >1: # 11>1 --yes
   for i in range(2,num):   #2,3,....,10
     if (num % i) == 0: #11 %2 ==1
       print(num,"is not a prime number.")

       break
     else:
       print(num,"is a prime number.")
       break
else:
  print(num,"is not a prime number.")

Enter a number: 11
11 is a prime number.

In [50]:
#Create a calculator program for addition, subtraction, multiplication and floor division.
# Take the inputs from the user , an based on the choice og operation.

a= int(input ("Enter the first no. :"))
b= int(input ("Enter the second no. :"))
c= input("Enter the operation you want to perform(+,-,*,/):")

print(a)
print(b)

def addition(a,b):
 return a+b

def subtraction(a,b):
 return a-b

def multiplication(a,b):
  return a*b

def division(a,b):
  return a//b

  n1 = int(input("Entert 1st number:"))
  n2 = int(input("Enter 2nd number:"))

  choice = input("Enter your choice of operation (+,-,*,/):")

  if (choice =="add" or choice == "Add" or choice =="addition" or choice =="Addition" or choice == "+"):
     res=addition(n1,n2) #res-result
  print("Addition of the numbers : ",res)

  elif (choice =="sub" or choice =="Sub" or choice =="subtraction" or choice =="Subtraction" or choice== "-"):
     res=subtraction(n1,n2)
  print("Subtraction of the numbers : ",res)

  elif (choice =="mul" or choice == "Mul" or choice =="multiplication" or choice =="Multiplication" or choice == "*"):
     res=multiplication(n1,n2)
     print("Multiplication of the numbers : ",res)

  elif (choice =="div" or choice == "Div" or choice =="division" or choice =="Division" or choice == "/"):
     res=division(n1,n2)
     print("Division of the numbers : ",res)

else:
  print("Invalid operation")

# if c == '+':
#   print(addition(a,b))
# elif c == '-':
#   print(subtraction(a,b))
# elif c == '*':
#   print(multiplication(a,b))
# elif c == '/':
#   print(division(a,b))

SyntaxError: invalid syntax (<ipython-input-50-0cd1c21c2d0e>, line 32)

In [24]:
# Write a program to create a fibonacci sequence using python if else statements.
#The next term is the sum of the last two
#0,1,1,2,3,5,8......upto any term


nterms = int (input("Enter the number of terms:"))

n1,n2 = 0,1
count = 0

if nterms <= 0:
  print("Enter a positive number.")
elif nterms ==1:
  print("Fibonacci sequence upto", nterms,":")
  print(n1)
else:
  print("Fibonacci sequence:")
  while count< nterms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

Enter the number of terms:10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
#Write a program to find factorial of a number.

num = int(input("Enter a number: "))

In [1]:
#Write a program to check a number is odd or even.
#even numbers divisible by 2 ,remainder--0
#odd numbers not divisble by 2,remainder--1

num = int(input("Enter a number: "))

if num%2==0:
  print("The number is even.")
else:
  print ("The number is odd.")

Enter a number: 5
The number is odd.

In [4]:
#Create a nested deictionary with vaues as nested list for each key in the dictionary.

#nested_dictionary

nested_dict = {
    'key1': [[1,2,3], [4,5],6],
    'key2': [["a","b"], "c", "d"],
    'key3': [[True,False]]
}

nested_dict

print(type(nested_dict))

<class 'dict'>

In [15]:
#Cretae two sets and perform the following:
#a. Union of he twosets
#b.Intersection of the two sets


#Set- Is an unordered collection of data i.e, unique.

#{}-curley braces for creating a set.
# set1 = {1,2,3,4}

set1 = {1,2,3,4}
set2 = {3,4,5,6}

union_set = set1 | set2
print(union_set)

intersection_set = set1 & set2
print(intersection_set)

#INTERSECTION will returna new set containing only the common values.

print(set1.union(set2)) #union of a & b,union operator,checks for unique values,unique os those two sets
print(set1.intersection(set2)) #intersection of a & b

set3 = {"ram", "Shyam", "ram" , "alex"}
print(set3)


list4 = [1,2,2,3,4,4,5,6]
set4 = set(list4) # converting list into set with the help of set()
print(set4)

{1, 2, 3, 4, 5, 6}
{3, 4}
{'Shyam', 'alex', 'ram'}
{1, 2, 3, 4, 5, 6}

In [20]:
# Create two sets and return the union  and intersection of those two sets.


x = {"a","b","c","d","a","d"}
y = {"c","d","e","f","f","g"}

print(x.union(y))
print(x.intersection(y))

{'c', 'a', 'd', 'b', 'f', 'g', 'e'}
{'c', 'd'}

In [24]:
set_1={2,5,3,6,True,False}
set_2={1,0,"Archana", "Manasa","Atul",5,3}

set_1.union(set_2)
set_1.intersection(set_2)

{False, True, 3, 5}

In [33]:
#Create a nested tuple from the dictionary, with each item in the tuple a key value pair form the dictionary.
# nested_tuple = (
#     {'key1':1},2,3, (4,5),6),
#     {'key2': "a"},"b", "c", "d"),
#     {(True, False)
# )

# print(nested_tuple)


dict1 = {
    "key1" : "archana" ,
    "key2" : "manasa"
}

dict2 = {
    "key3" : "x" ,
    "key4" : "y"
}

dict3 = {
    1 : dict1 ,
    2 : dict2
}

nested_tuple= tuple((key,value) for key, value in dict3.items())
print(nested_tuple)

# print(dict3.items)
# for key,value in dict3.items():
#   print(key,value)

((1, {'key1': 'archana', 'key2': 'manasa'}), (2, {'key3': 'x', 'key4': 'y'}))
<built-in method items of dict object at 0x7dcd0313ddc0>
1 {'key1': 'archana', 'key2': 'manasa'}
2 {'key3': 'x', 'key4': 'y'}

In [40]:
#create a list of 50 even natural numbers, and perform the following operations.

# num = int(input("Enter a number: "))

# if num%2==0:
#   print("The number is even.")
# else:
#   print ("The number is odd.")

# list_1 = []

# for i in range(1,101):
#   if i%2==0:
#     list_1.append(i)
# print(list_1)

list2 = [i for i in range(2,102,2)]
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [56]:
# list3 = [2*i for i in range(1,51)]
# print(list3)
# count= len(list3)
# print("No. of elements in the list:",count)

# reversed_list = list3[::-1]
# print(reversed_list)

# #Sort the list in ascednding order

# ascending_order = sorted(list3)
# print(ascending_order)

#Descending order

# descending_order = sorted(list3, reverse=True)
# print(descending_order)

#index
index_44 = list3.index(44)
print(index_44)

21

In [57]:
index_10 = list3.index(10)
print(index_10)

4

In [58]:
print(list3.index(20))

9

In [63]:

list3[index_44] = 100
list3

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 100,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [64]:
squared_list = [num**2 for num in list3]
squared_list

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 10000,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

#For the given strings A= "Python programming language" , B = "Best in the World",perform the following operations.
#Using indexing operations, get the text "gram" rom the string A.m
#Using indexing operations ,get the text "World" from the string B.n.
#Change the letters in both strings to uppercase letters.o.
#Concatenate the two strings.

In [66]:
A = "Python Programming Language"
B = "Best In The World"
print(A)
print(B)

Python Programming Language
Best In The World

In [67]:
A[10:14]

'gram'

In [71]:
B[-5:]

'World'

In [72]:
B[-9:-6]

'The'

In [74]:
A.upper()
B.upper()

'BEST IN THE WORLD'

In [79]:
conC = A + " ," + B
print(conC)

Python Programming Language ,Best In The World

#Create a list with n numbers, and using negative indexing return the list starting from the 5th
index to the n-2th index.
#Using range() , create a list with numbers ranging from 5-100, and the number of elements should be exactly 19..
range (starting_index : ending_index : step_/size)

In [43]:
#Count the number of elements in the list

NameError: name 'count' is not defined